@media (max-width: 800px) {
    .headerBlock img {
        display: none;
    }
}

.headerBlock {
    font-family: 'SFNS Display Thin';
    text-align: center;
    vertical-align: middle;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2.5em;
    background-color: #eee;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.headerBlock div {
    margin:auto 0 auto 0;
}